*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(90deg, rgba(7, 7, 36, 1) 100%, rgba(7, 7, 28, 1) 1%, rgba(0, 212, 255, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.contact-container{
  display: flex;
  background-color: rgb(65, 11, 65);
  padding: 20px 20px;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  border-radius: 8px;
  max-width: 80vw;
  margin-top: 50px;
}

.contact-element{
    width:300px ;
   height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:start;
   
}
.list{
  padding: 8px;
}
.list-items{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.list-items a{
  display: flex;
  gap: 7px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: monospace;
  letter-spacing: 1px;
  padding: 8px;
  margin-bottom: 3px;
  transition: 0.3s;
}
.list-items a:hover{
  border: 1px solid white;
  border-radius: 6px;
  background: purple;
}
.links{
  padding: 8px;
  margin-left: 5px;
  display: flex;
  gap: 20px;
  font-size: 20px;
  
}
.links a{
  color: white;
  border-radius: 50%;
  padding:6px;
  background:  purple; 
}

.btns{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 14px;
}
.cta{
  background: white;
  padding: 9px;
  border-radius: 8px;
  background: none;
  color:purple;
  border: 1px solid purple;
}

.contact-form{
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px 20px;
  background: white;
  color: purple;
  border-radius: 10px;
  margin-top: 10px;
}

.input-field{
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 18px;
}
.input-field input{
  padding: 12px;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
}
.input-send{
  margin-top: 30px;
  color: white;
}
.send{
  width: 150px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: purple;
  color: white;
} 